body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    height: 150px;
}

.header > div {
    margin: 20px 15px;
}

.header > div > a {
    text-decoration: none;
    color: black;
}

/* Google-Logo */
.logo {
    display: flex;
    justify-content: center;
    margin-top: 100px
   
   
}
 
.main{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
   
.main > form {
        border: 1px solid #dfe1e5;
        border-radius: 15px;  
        height: 40px;
        width: 500px; 
      }

.main > form > img {
    width: 20px;
    height: 20px;
    margin: 10px;
}
.search {
    font-size: inherit;
    border: 0px;
    border-radius: 15px;
    background-color: transparent;
    outline: none;    
    width: 456px;
    height: 39px;
}
.form-buttons {
    display: flex;
    justify-content: center;
    
}
.form-buttons > input {
    margin: 27px 10px;
    font-size: 14px;
    padding: 10px 15px;
    border: transparent;
    border-radius: 5px;
    background-color: #0104060b;
}
.form-buttons > input:hover {
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(32, 33, 36, 0.238);
    border-color: rgba(223,225,229,0);
}
#sub-word {
    position: relative;
    top: 70px;
    right: 57px;
    font-size: 17px; 
    color: rgba(0, 102, 255, 0.805); 
}
#logocentr {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    left: 49px;
    margin-top: 100px
}
.advtitle {
    font-size: 21px;
	color: rgb(238, 21, 21);
	height: 35px;
	padding-left: 40px;
	
	border-bottom: 1px solid rgba(128, 128, 128, 0.339);
}
.row1  {
    font-size: 15px;
	color: black;
    padding-left: 40px;
    padding-top: 40px;
}
.advform {
    display: flex;
    flex-wrap: wrap;
    
}
.row {
    display: flex;
	padding-left: 40px;
	padding-top: 20px;
}
.row > label {
    padding-top: 10px;
    
}

.row > input {
    outline: none;
    position: absolute;
    left: 230px;
    height: 25px;
	background: rgba(128, 128, 128, 0.121);
	border: 1px solid rgba(99, 99, 99, 0.552);
	border-radius: 5px;
	color: black;
	
	width: 270px;
}
.adv-button {
    display: flex;
    
    
}
.adv-button > button {
    background: rgba(128, 128, 128, 0.173);
	height: 30px;
	width: 150px;
	border: white;
	border-radius: 5px;
	color: black;
	margin-top: 20px;
    margin-left: 350px;
    
}
.adv-button > button:hover{
    background: white;
    box-shadow: 0px 0px 1px 1px rgba(32, 33, 36, 0.238);
    border-color: rgba(223,225,229,0);
}